@import url('./components/page/page.css');
@import url('./components/page/__navbar/page__navbar.css');
@import url('./components/navbar/navbar.css');
@import url('./components/navbar/__container/navbar__container.css');
@import url('./components/navbar/_flex/navbar__container_flex.css');
@import url('./components/navbar/__logo-img/navbar__logo-img.css');
@import url('./components/navbar/__menu-list/navbar__menu-list.css');
@import url('./components/navbar/__menu-link/navbar__menu-link.css');
@import url('./components/navbar/_color/navbar__menu-link_color_primary.css');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #08c0dd;
  --secondary-color: #262431;
  --tertiary-color: #2f2c3d;
  --white-color: #fff;
  --container-width: 1100px;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
}

a {
  color: var(--white-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}
