@import url('./components/page/page.css');
@import url('./components/page/__navbar/page__navbar.css');
@import url('./components/navbar/navbar.css');
@import url('./components/navbar/__container/navbar__container.css');
@import url('./components/navbar/_flex/navbar__container_flex.css');
@import url('./components/navbar/__menu/navbar__menu.css');
@import url('./components/navbar/__logo-img/navbar__logo-img.css');
@import url('./components/navbar/__menu-list/navbar__menu-list.css');
@import url('./components/navbar/__menu-link/navbar__menu-link.css');
@import url('./components/navbar/_color/navbar__menu-link_color_primary.css');
@import url('./components/navbar/__mobile-menu-items/navbar__mobile-menu-items.css');
@import url('./components/navbar/__mobile-menu-list/navbar__mobile-menu-list.css');
@import url('./components/navbar/__mobile-menu-link/navbar__mobile-menu-link.css');
@import url('./components/navbar/_color/navbar__mobile-menu-link_color_primary.css');
@import url('./components/navbar/_active/navbar__mobile-menu-list_active.css');
@import url('./components/navbar/__mobile-menu/navbar__mobile-menu.css');
@import url('./components/navbar/__mobile-menu-toggle-icon/navbar__mobile-menu-toggle-icon.css');
@import url('./components/hero/hero.css');
@import url('./components/hero/__container/hero__container.css');
@import url('./components/hero/_flex/hero__container_flex.css');
@import url('./components/hero/__content/hero__content.css');
@import url('./components/hero/__title/hero__title.css');
@import url('./components/hero/_color/hero__text_color_primary.css');
@import url('./components/hero/__description/hero__description.css');
@import url('./components/button/button.css');
@import url('./components/hero/__image/hero__image.css');
@import url('./components/hero/__buttons/hero__buttons.css');
@import url('./components/hero/__link-icon/hero__link-icon.css');
@import url('./components/hero/__button/hero__button.css');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #08c0dd;
  --secondary-color: #262431;
  --tertiary-color: #2f2c3d;
  --white-color: #fff;
  --container-width: 1100px;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
  background-color: var(--secondary-color); /* temp */
}

a {
  color: var(--white-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}
