*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #08c0dd;
  --secondary-color: #262431;
  --tertiary-color: #2f2c3d;
  --white-color: #fff;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
  background-color: var(--secondary-color);
  color: var(--white-color);
}

a {
  color: var(--white-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}
