.hero {
  background: #000 url('../../../images/header-background.jpg') center
    center/cover no-repeat;
  padding: 11.5rem 2rem 8rem;
}

@media (max-width: 992px) {
  .hero {
    padding: 8rem 2rem 6rem;
    text-align: center;
  }
}
